{% extends 'base.html' %}
{% block title %} Add Item {% endblock %}

{% block content %}
<div class="container  mx-auto">
<div class="card mt-5 ">
  <div class="card-header p-3">
    Add Item 
  </div>
  <div class="card-body">
    <div class="row mx-5 px-5">
      {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="w-100 alert alert-danger alert-dismissable">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
      <form method="POST" action="{% url 'mainsite:add_mobile' %}">
        {% csrf_token %}
        <div class="form-label-group">
          {% for field in form %}
            {% if field.name == 'jan_code' or field.name == 'image' %}
              <label class="my-4" for="{{ field.name }}">{{ field.label }}</label>
              <input class="form-control"  autofocus
              type="{{ field.field.widget.input_type }}" name="{{ field.name }}"   placeholder="{{ field.field.widget.attrs.placeholder }}" id="id_{{ field.name }}" {{ field.field.widget.attrs.required }}>
              {% else %}
                <label class="my-4" for="{{ field.name }}">{{ field.label }}</label>
                <select name="{{ field.name }}"  class="custom-select my-1 mr-sm-2" required>
                <option value="" selected>Select {{ field.field.widget.attrs.placeholder }}</option>
                  {% if field.name == 'brand_name' %}
                    {% for brand in brand_name %}
                      <option class="py-4" value="{{ brand.id }}" >{{ brand }}</option>
                    {% endfor %}
                  {% elif field.name == 'model_name' %}
                    {% for model in model_name %}
                      <option class="py-4" value="{{ model.id }}" >{{ model }}</option>
                    {% endfor %}
                  {% else %}
                  {% for color in color %}
                    <option class="py-4" value="{{ color.id }}" >{{ color }}</option>
                    {% endfor %}
                    {% endif %}
                </select>
                {% endif %}
              {% endfor %}
              <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-success px-5 mt-5 right-0">Submit</button>
            </div>
        </div>        
      </form>
  </div>
</div>
</div>
{% endblock %}