{% extends 'base.html' %}
{% block title %} Home {% endblock %}

{% block content %}
    <div class="container  mx-auto">
      <div class="card mt-5 ">
        <div class="card-header">
          Mobile List
        </div>
        <form method="POST" action="{% url 'mainsite:deleteitem' %}" id="formid">
          {% csrf_token %}
        <div class="card-body">
          <div class="row my-5">
          <!-- <h5 class="card-title">Special title treatment</h5> -->
            <div class="col-6">
              <a  href="{% url 'mainsite:add_mobile' %}">
                <button type="button" class="btn btn-info">Add Item</button>
              </a>
                <button type="submit" class="btn btn-danger">Danger</button>
            </div>
            <div id="ajax_search" class="col-6 form-inline d-flex justify-content-end ">      
              <input class="form-control mr-sm-2" type="search" placeholder="Search" type="text" id="tbox" name="search" aria-label="Search" >
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="search">Search</button>
            </div>
          </div>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Brand Name</th>
                <th scope="col"> Model Name</th>
                <th scope="col">Jan Code</th>
                <th scope="col">Color</th>
                <th scope="col">Image</th>
                <th scope="col">Select <input  id="selectAll" class="h-4 w-4 rounded" id="flowbite" aria-describedby="flowbite" type="checkbox"></th>
              </tr>
            </thead>
            <tbody id="dlist" class="m-2">
              {% for mobile in data %}
              <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ mobile.brand_name }}</td>
                <td>{{ mobile.model_name }}</td>
                <td>{{ mobile.jan_code }}</td>
                <td> {{ mobile.color.color }}</td>
                <td>      
                  {% if mobile.image %}
                    <img class="h-10 w-10 ml-3 rounded-full rounded-circle" style="height: 40px;width: 40;" src="{{ mobile.image }}" alt="Iamge">
                  {% endif %}
                </td>
                <td><input value="{{ mobile.id }}" name="mobile" class=" h-4 w-4 ml-5" id="selectid" aria-describedby="flowbite" type="checkbox"></td>
               
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </form>
        </div>
      </div>
    </div>
<script>
$("#selectAll").click(function(){
        $("input[type=checkbox]#selectid").prop('checked', $(this).prop('checked'));

});
$(document).ready(function(){
  function fetch_customer_data(query){
    data_list = ``
  $.ajax({

    type: "GET",
      url: "{% url 'mainsite:search_phone' %}", 
      data : {    
      query : query, 
    },  
  success:function(response){
    $('#dlist').html('');
    if (response.data) {
        response.data.map(function (mobile, index) {
      console.log(mobile.color);
      data_list+=`
        <tr id="trr">
          <td>${ index+1 }</td>
          <td> ${ mobile.brand_name }</td>
          <td>${ mobile.model_name }</td>
          <td>${ mobile.jan_code }</td> 
          <td>${ mobile.color }</td>
          <td>
            ${ mobile.image ? 
              `<img class="h-10 w-10 rounded-full" style="height: 40px;width: 40;"  src="${ mobile.image }" alt="Image"/>`
              :""}
          </td> 
          <td><input value="${  mobile.id }" name="mobile" class=" h-4 w-4 ml-5" id="selectid" aria-describedby="flowbite" type="checkbox"></td>
        </tr>
      `
      $('#dlist').html(data_list);
    })
    }else{
    $('#dlist').html(`<h2 class="m-5"> ${response.msg}</h2>`);
    }}
  })
  }
  $("#ajax_search" ).delegate( "#search", "click", function( event ) {
  event.preventDefault();
  var query =$('#tbox').val();
  query.length ? fetch_customer_data(query.trim()) :'' 
  });
});
</script>

{% endblock %}